-i https://pypi.org/simple
certifi==2023.7.22 ; python_version >= '3.6'
cffi==1.16.0 ; python_version >= '3.8'
charset-normalizer==3.3.0 ; python_full_version >= '3.7.0'
cryptography==42.0.4 ; python_version >= '3.7'
fido2==1.1.2
idna==3.7 ; python_version >= '3.5'
logzero==1.7.0
markdown-it-py==3.0.0 ; python_version >= '3.8'
mdurl==0.1.2 ; python_version >= '3.7'
prompt-toolkit==3.0.39
pycparser==2.21
pygments==2.16.1 ; python_version >= '3.7'
requests==2.31.0
rich==13.6.0
urllib3==2.0.7 ; python_version >= '3.7'
wcwidth==0.2.8
