-i https://pypi.org/simple
certifi==2025.10.5; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
charset-normalizer==3.4.4; python_version >= '3.7'
cryptography==46.0.3; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
fido2==2.0.0; python_version >= '3.10' and python_version < '4'
idna==3.11; python_version >= '3.8'
logzero==1.7.0
markdown-it-py==4.0.0; python_version >= '3.10'
mdurl==0.1.2; python_version >= '3.7'
prompt-toolkit==3.0.52; python_version >= '3.8'
pycparser==2.23; python_version >= '3.8'
pygments==2.19.2; python_version >= '3.8'
requests==2.32.5; python_version >= '3.9'
rich==14.2.0; python_full_version >= '3.8.0'
typing-extensions==4.15.0; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
wcwidth==0.2.14; python_version >= '3.6'
