-i https://pypi.org/simple
certifi==2022.12.7 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==3.0.1 ; python_full_version >= '3.6.0'
cryptography==39.0.1 ; python_version >= '3.6'
fido2==1.1.0
idna==3.4 ; python_version >= '3.5'
logzero==1.7.0
pycparser==2.21
requests==2.31.0
urllib3==1.26.14 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
